// подвал сайта
// *************************************************************************
.footer {
	background: $orange;
	margin-top: -$footer-height;
	height: $footer-height;
	position: relative;
	
	#{$page-mainpage} & {
		display: none;
	}
	
}