// настройка сетки
// **********************************************************************************
@mixin make-row($gutter: $grid-gutter-width) {
	margin-left:  ceil(($gutter / -2));
	margin-right: floor(($gutter / -2));
	@include clearfix;
}

@mixin make-grid-columns($i: 1, $list: ".#{$grid-col-prefix}-#{$grid-col-phone}-#{$i}, .#{$grid-col-prefix}-#{$grid-col-tablet}-#{$i}, .#{$grid-col-prefix}-#{$grid-col-desktop}-#{$i}, .#{$grid-col-prefix}-#{$grid-col-large}-#{$i}") {
	@for $i from (1 + 1) through $grid-columns {
		$list: "#{$list}, .#{$grid-col-prefix}-#{$grid-col-phone}-#{$i}, .#{$grid-col-prefix}-#{$grid-col-tablet}-#{$i}, .#{$grid-col-prefix}-#{$grid-col-desktop}-#{$i}, .#{$grid-col-prefix}-#{$grid-col-large}-#{$i}";
	}
	#{$list} {
		position: relative;
		// Prevent columns from collapsing when empty
		min-height: 1px;
		// Inner gutter via padding
		padding-left:  ceil(($grid-gutter-width / 2));
		padding-right: floor(($grid-gutter-width / 2));
	}
}


@mixin float-grid-columns($class, $i: 1, $list: ".#{$grid-col-prefix}-#{$class}-#{$i}") {
	@for $i from (1 + 1) through $grid-columns {
		$list: "#{$list}, .#{$grid-col-prefix}-#{$class}-#{$i}";
	}
	#{$list} {
		float: left;
	}
}

@mixin calc-grid-column($index, $class, $type) {
	@if ($type == width) and ($index > 0) {
		.#{$grid-col-prefix}-#{$class}-#{$index} {
			width: percentage(($index / $grid-columns));
		}
	}
	@if ($type == push) and ($index > 0) {
		.#{$grid-col-prefix}-#{$class}-push-#{$index} {
			left: percentage(($index / $grid-columns));
		}
	}
	@if ($type == push) and ($index == 0) {
		.#{$grid-col-prefix}-#{$class}-push-0 {
			left: auto;
		}
	}
	@if ($type == pull) and ($index > 0) {
		.#{$grid-col-prefix}-#{$class}-pull-#{$index} {
			right: percentage(($index / $grid-columns));
		}
	}
	@if ($type == pull) and ($index == 0) {
		.#{$grid-col-prefix}-#{$class}-pull-0 {
			right: auto;
		}
	}
	@if ($type == offset) {
		.#{$grid-col-prefix}-#{$class}-offset-#{$index} {
			margin-left: percentage(($index / $grid-columns));
		}
		.#{$grid-col-prefix}-#{$class}-offset-right-#{$index} {
			margin-right: percentage(($index / $grid-columns));
		}
	}
}

@mixin loop-grid-columns($columns, $class, $type) {
	@for $i from 0 through $columns {
		@include calc-grid-column($i, $class, $type);
	}
}

@mixin make-grid($class) {
	@include float-grid-columns($class);
	@include loop-grid-columns($grid-columns, $class, width);
	@include loop-grid-columns($grid-columns, $class, pull);
	@include loop-grid-columns($grid-columns, $class, push);
	@include loop-grid-columns($grid-columns, $class, offset);
}

@mixin responsive-visibility($parent) {
	#{$parent} {
		display: block !important;
	}
	table#{$parent}  { display: table; }
	tr#{$parent}     { display: table-row !important; }
	th#{$parent},
	td#{$parent}     { display: table-cell !important; }
}

// [converter] $parent hack
@mixin responsive-invisibility($parent) {
	#{$parent} {
		display: none !important;
	}
}

// **********************************************************************************

.container {
	margin-right: auto;
	margin-left: auto;
	max-width: $layout-max-width + $layout-offset*2;
	padding-left: $layout-offset;
	padding-right: $layout-offset;
}

.row {
	@include make-row;
}

@include make-grid-columns;

@include make-grid($grid-col-phone);

@include respond-to($respond-tablet) {
	@include make-grid($grid-col-tablet);
}

@include respond-to($respond-desktop) {
	@include make-grid($grid-col-desktop);
}

@include respond-to($respond-large) {
	@include make-grid($grid-col-large);
}

@include responsive-invisibility('.#{$visible-phone}');
@include responsive-invisibility('.#{$visible-tablet}');
@include responsive-invisibility('.#{$visible-desktop}');
@include responsive-invisibility('.#{$visible-max}');

.#{$visible-phone}-block,
.#{$visible-phone}-inline,
.#{$visible-phone}-inline-block,
.#{$visible-tablet}-block,
.#{$visible-tablet}-inline,
.#{$visible-tablet}-inline-block,
.#{$visible-desktop}-block,
.#{$visible-desktop}-inline,
.#{$visible-desktop}-inline-block,
.#{$visible-max}-block,
.#{$visible-max}-inline,
.#{$visible-max}-inline-block {
	display: none !important;
}

@media (max-width: $screen-xs-max) {
	@include responsive-visibility('.#{$visible-phone}');
}
.#{$visible-phone}-block {
	@media (max-width: $screen-xs-max) {
		display: block !important;
	}
}
.#{$visible-phone}-inline {
	@media (max-width: $screen-xs-max) {
		display: inline !important;
	}
}
.#{$visible-phone}-inline-block {
	@media (max-width: $screen-xs-max) {
		display: inline-block !important;
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	@include responsive-visibility('.#{$visible-tablet}');
}
.#{$visible-tablet}-block {
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		display: block !important;
	}
}
.#{$visible-tablet}-inline {
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		display: inline !important;
	}
}
.#{$visible-tablet}-inline-block {
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		display: inline-block !important;
	}
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	@include responsive-visibility('.#{$visible-desktop}');
}
.#{$visible-desktop}-block {
	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		display: block !important;
	}
}
.#{$visible-desktop}-inline {
	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		display: inline !important;
	}
}
.#{$visible-desktop}-inline-block {
	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		display: inline-block !important;
	}
}

@media (min-width: $screen-lg-min) {
	@include responsive-visibility('.#{$visible-max}');
}
.#{$visible-max}-block {
	@media (min-width: $screen-lg-min) {
		display: block !important;
	}
}
.#{$visible-max}-inline {
	@media (min-width: $screen-lg-min) {
		display: inline !important;
	}
}
.#{$visible-max}-inline-block {
	@media (min-width: $screen-lg-min) {
		display: inline-block !important;
	}
}

@media (max-width: $screen-xs-max) {
	@include responsive-invisibility('.#{$hidden-phone}');
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	@include responsive-invisibility('.#{$hidden-tablet}');
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	@include responsive-invisibility('.#{$hidden-desktop}');
}

@media (min-width: $screen-lg-min) {
	@include responsive-invisibility('.#{$hidden-max}');
}