// шапка сайта
$column-logo: 200px;
$column-contacts: 200px;
// *************************************************************************
.header {
	background: $yellow-light;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 99;
	box-shadow: 0 0 5px rgba(black,.1);
	body.header-compact & {
		background: rgba($yellow-light,.95);
	}
	> .container {
		height: $header-height;
		line-height: $header-height;
		transition-duration: .2s;
		transition-property: all;
		body.header-compact & {
			height: $header-height-compact;
			line-height: $header-height-compact;
		}
	}
}

.column-logo {
	position: relative;
	width: $column-logo;
	margin-right: -$column-logo;
}

.column-contacts {
	width: $column-contacts;
	margin-left: -$column-contacts;
}

.column-nav {
	width: 100%;
	padding-left: $column-logo + 54px;
	padding-right: $column-contacts;
}

@include respond-to($respond-phone)  {
  .wrapper {
    margin-top: -105px;
  }
  .header {
    background: none;
    height: 0!important;
    position: relative;
    .logo {
      margin-top: -3.3rem !important;
    }
    .container {
      height: 0 !important;
      body.header-compact & {
        height: 0!important;
        line-height: !important;
      }
    }
  }

  .column-nav {
    display: none;
  }

  .column-contacts {
    display: none;
  }

  .column-logo {
    width: 10rem;
  }
}
