.why-korean-title {
  margin-bottom: 30px;
  font-size: 22px;
  color: $black;
  font-style: italic;
}
.why-korean-text {
  ul {
    padding: 0;
    margin: 0;
    font-size: 0;
  }
  li {
    margin-bottom: 30px;
    font-size: 18px;
    font-style: normal;
    color: $black;
    &:before {
      content:'';
      display: inline-block;
      background: $black;
      width: 15px;
      height: 1px;
      margin-bottom: 5px;
      margin-right: 5px;
    }
  }
}
.section-why-korean {
  figcaption {
    margin-bottom: 1rem !important;
  }
}
.why-korean-map {
  position: absolute;
  top: -100px;
  right: -70px;
}
