.section--clinics {
	border-bottom: 1px solid #EEE4EF;
	.section-body {
		padding-top: 43px;
		padding-bottom: 57px;
	}
	h4 {
		font-size: 28px;
		line-height: 30px;
		margin-bottom: 34px;
		font-weight: 700;
	}
	.title-2 {
		 margin-bottom: 27px;
	}
}