$map-width: 690px;
$map-height: 425px;
$map-ratio: ratio($map-height,$map-width);

.section--contacts {
	.section-body {
		padding-top: 78px;
		padding-bottom: 60px;
	}
	.section-title {
		margin-bottom: 65px;
	}
}

.map-wrapper {
	position: relative;
	padding-bottom: $map-ratio;
	background: black;
	border-radius: 3px;
	overflow: hidden;
	margin-top: -60px;
}

.map {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
