// $item-img-width: 165px; // ширина картинки
// $item-img-height: 165px; // высота картинки
// $item-img-ratio: ratio($item-img-height,$item-img-width); // пропорции картинки

// .section--profile {
// 	.section-body {
// 		padding-top: 38px;
// 		padding-bottom: 18px;
// 	}
// }

// .profile-item {
// 	margin-bottom: 40px;
//   // width: 20%;
//   display: inline-block;
// }

// .profile-item-img {
// 	margin-bottom: 22px;
// 	.ratio {
// 		padding-bottom: $item-img-ratio;
// 	}
// }

// .profile-item-in {
// 	padding-right: 5px;
// }
.section--profile {
  padding-top: 45px;
  padding-bottom: 75px;
}

.preoriti-item-list {
  width: 100%;
  text-align: left;
}

.preoriti-item {
  display: inline-block;
  width: 19%;
  margin: 4px;
  vertical-align: top;
}

.preoriti-item-img {
  margin-bottom: 35px;
  img {
    transition: transform 1.5s cubic-bezier(.39,.575,.565,1), opacity .525s;
    &:hover {
      transform: scale(1.1);
      transform: scale3d(1.1,1.1,1);
      transform: scale(1.1) translate3d(0,0,0);
      opacity: .8;
    }
  }
}

.preoriti-item-title {
  margin-bottom: 22px;
  .title-4 {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    color: $black;
  }
}

.preoriti-item-info {
  ul {
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
  }
  li {
    font-size: 18px;
    color: $black;
    margin-bottom: 10px;
    &:before {
      content:'';
      display: inline-block;
      background: $black;
      width: 15px;
      height: 2px;
      margin-bottom: 5px;
      margin-right: 5px;
    }
  }
}
@include respond-to($respond-phone) {
  .preoriti-item-list {
    .preoriti-item {
      text-align: center !important;
    }
  }
}