.section--promo {
   .section-cover {
      // background-image:url(../samples/pic-promo-01.jpg);
      img {
        width: 100%;
        height: 100%;
      }
    }
	.section-body {
		min-height: calc(100vh - #{$header-height});
	}
	.section-title {
		margin-bottom: 39px;
	}
	.section-in {
		position: absolute;
		left: 50%;
		width: 100%;
		bottom: 35%;
		transform: translateY(50%) translateX(-50%);
	}
}
@include respond-to($respond-phone) {
  body {
    min-width: 320px !important;
  }
  .section--promo {
    .section-in {
      bottom: 25% !important;
    }
    .section-cover {
      background-image:url(../samples/pic-promo-mobile-01.png);
    }
    .section-body {
      // min-height: 60vh;
    }
    .section-title {
      margin-left: 10px;
      h1.title-1 {
        font-size: 1.6rem;
        line-height: 1.8rem;
      }
      h3.title-3 {
        font-size: 1.3rem;
        line-height: 1.4rem;
      }
    }
    .btn-more {
        font-size: 1.2rem !important;
        line-height: 1.2rem !important;
        padding: 10px 20px !important;
        margin-left: 10px;
    }
  }
}
