.section--about {
	.section-body {
		padding-top: 155px;
		padding-bottom: 100px;
	}
	blockquote {
		margin-bottom: 75px;
	}
	.section-img {
		position: absolute;
		bottom: 0;
		right: 74px;
		width: 424px;
		height: 696px;
	}
}
@include respond-to($respond-phone) {
    .section--about  {
      display: none;
    }
    .section--profile {
      h2.title-2 {
        font-size: 1.4rem;
        line-height: 1.6rem;
      }
      .preoriti-item {
        width: 100%;
      }
    }
    .section--how {
      .why-korean-map {
        display: none;
      }
    }
    .section--reviews {
      .section-body {
        padding-top: 1rem !important;
        padding-bottom: 1.5rem !important;
      }
      .section-title {
        h2.title-2 {
          font-size: 1.4rem;
          line-height: 1.6rem;
        }
      }
      .review-item {
        padding: 0!important;
      }
      .review-item-media {
        left: 50% !important;
        margin-left: -70px;
        position: relative;
      }
    }
    .section--benefits {
      .section-body {
        padding-top: 2rem !important;
        padding-bottom: 1rem !important;
      }
      .section-title {
        margin-bottom: 2rem !important;
      }
      h2.title-2 {
        font-size: 1.4rem;
        line-height: 1.6rem;
      }
      .benefit-item-in {
        padding: 0 !important;
      }
    }
    .section-why-korean {
      padding-top: 1rem !important;
      padding-bottom: 1rem !important;
      h2.title-2 {
        font-size: 1.4rem;
        line-height: 1.6rem;
      }
      .why-korean-title {
        font-size: 1.2rem;
        line-height: 1.4rem;
      }
      .why-korean-text {

        li {
          font-size: 1rem;
          line-height: 1.2rem;
        }
      }
    }
    .section--how {
      .section-body {
        padding-top: 1rem !important;
        padding-bottom: 1.5rem !important;
      }
      h2.title-2 {
        font-size: 1.4rem;
        line-height: 1.6rem;
      }
      .how-item {
        width: 100%;
        text-align: center;
        margin-bottom: 0 !important;
        overflow: hidden;
      }
      .how-item-in {
        padding: 0 15px !important;
      }
      .how-item-img {
        left: 50% !important;
        margin-left: -110px !important;
        margin-bottom: 0 !important;
      }
    }
    .section--clinics {
      .section-body {
        padding-top: 1rem !important;
        padding-bottom: 1.5rem !important;
      }
      h2.title-2 {
        font-size: 1.4rem;
        line-height: 1.6rem;
      }
      .section-tabs {
          .section-tabs-links {
            font-size: 1rem;
            line-height: 1.2rem;
            margin-right: 0;
            margin-left: 0;
            margin-bottom: 1rem;
            text-align: left;
            li {
              padding: 0;
            }
          }
      }
      h4 {
        font-size: 1.2rem !important;
        line-height: 1.4rem !important;
        margin-bottom: 1rem !important;
      }
      p {
        font-size: 16px;
        margin-right: 15px;
      }
      .btn-more {
        font-size: 1.2rem !important;
        line-height: 1.2rem !important;
        padding: 10px 20px !important;
        margin-left: 0px;
        margin-top: 0px;
      }
      .gallery {
        padding-left: 0 !important;
        padding-right: 20px !important;
      }
      .gallery-thumbs {
        display: none;
      }
    }
    .form-send-message {
      padding: 0 !important;
      .form-group {
        margin-bottom: 10px;
      }
    }
    .section-send-message {
      overflow: hidden;
    }
    .section--contacts {
      .section-body {
        padding-top: 1rem !important;
        padding-bottom: 1.5rem !important;
      }
      h2.title-2{
        font-size: 1.4rem;
        line-height: 1.6rem;
        margin-bottom: 1rem !important;
      }
      .section-title {
        margin-bottom: 0 !important;
      }
    }
    .form-contacts {
      margin-bottom: 1.5rem !important;
    }
    .map-wrapper {
      margin-top: 2px !important;
    }
}
