.section {
	position: relative;
	min-height: 100px;
}

// .section-text {
// }

// .section-img {	
// }

.section-body {
	position: relative;
	z-index: 2;
}

.section-cover {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
}

// *************************************
.section--purple {
	background-color: $purple-light;
}

.section--yellow {
	background-color: $yellow-light;
}