.section--how {
	.section-body {
		padding-top: 85px;
		padding-bottom: 61px;
	}
	.section-title {
		margin-bottom: 44px;
	}
}

.how-item {
	margin-bottom: 40px;
  display: inline-block;
  vertical-align: top;
  width: 19.7%;
}

.how-item-img {
	position: relative;
	left: -21px;
	margin-bottom: 13px;
  img {
    transition: transform 1.5s cubic-bezier(.39,.575,.565,1), opacity .525s;
    &:hover {
      transform: scale(1.1);
      transform: scale3d(1.1,1.1,1);
      transform: scale(1.1) translate3d(0,0,0);
      opacity: .8;
    }
  }
}
