$item-img-size: 112px;

.section--reviews {
	border-style: solid;
	border-color: #EADDEA;
	border-width: 1px 0;
	.section-body {
		padding-top: 53px;
		padding-bottom: 27px;
	}
	.section-title {
		margin-bottom: 50px;
	}
}

.review-item {
	position: relative;
	padding-left: $item-img-size + 30px;
	padding-right: 20px;
	margin-bottom: 26px;
	min-height: 180px;
}

.review-item-media {
	position: absolute;
	left: 0;
	top: -17px;
	width: $item-img-size;
}

.review-item-img {
	width: $item-img-size;
	height: $item-img-size;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 18px;
}

.review-item-meta {
	line-height: 17px;
	i {
		font-size: 14px;
	}
}

.toggle-item {
	margin-top: -16px;
	.link-toggle {
		text-decoration: none;
		font-size: 18px;
		line-height: 18px;
		color: #fcaf17;
	}
	.toggle-item-title {
		margin-bottom: 6px;
		.text-toggle {
			display: block;
		}
		.text-toggled {
			display: none;
		}
	}
}

.toggled {
	.toggle-item-title {
		.text-toggle {
			display: none !important;
		}
		.text-toggled {
			display: block !important;
		}
	}
}