$item-img-size: 120px;
$item-img-circle: 112px;

.section--benefits {
	.section-body {
		padding-top: 63px;
		padding-bottom: 45px;
	}
	.section-title {
		margin-bottom: 75px;
	}
}

.benefit-item {
	position: relative;
	padding: 0 100px 0 142px;
	margin-bottom: 42px;
	min-height: $item-img-size;
}

.benefit-item-img {
	position: absolute;
	left: 0;
	top: 0;
	width: $item-img-size;
	img {
		position: relative;
		z-index: 2;
	}
	&::before {
		content: '';
		position: absolute;
		z-index: 1;
		background: #FFF3E0;
		border-radius: 50%;
		width: $item-img-circle;
		height: $item-img-circle;
		left: 50%;
		top: 50%;
		margin-top: -$item-img-circle/2;
		margin-left: -$item-img-circle/2;
	}
}

.benefit-item-in {
	padding-top: 25px;
}