@font-face {
  font-family:  'MyriadPro';
          src:  url('#{$path-fonts}/MyriadProRegular.eot');
          src:  url('#{$path-fonts}/MyriadProRegular.eot?#iefix') format('embedded-opentype'),
                url('#{$path-fonts}/MyriadProRegular.woff') format('woff'),
                url('#{$path-fonts}/MyriadProRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:  'MyriadPro';
          src:  url('#{$path-fonts}/MyriadProBold.eot');
          src:  url('#{$path-fonts}/MyriadProBold.eot?#iefix') format('embedded-opentype'),
                url('#{$path-fonts}/MyriadProBold.woff') format('woff'),
                url('#{$path-fonts}/MyriadProBold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
  font-family:  'MyriadPro';
          src:  url('#{$path-fonts}/MyriadProItalic.eot');
          src:  url('#{$path-fonts}/MyriadProItalic.eot?#iefix') format('embedded-opentype'),
                url('#{$path-fonts}/MyriadProItalic.woff') format('woff'),
                url('#{$path-fonts}/MyriadProItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
  font-family:  'MyriadPro';
          src:  url('#{$path-fonts}/MyriadProBoldItalic.eot');
          src:  url('#{$path-fonts}/MyriadProBoldItalic.eot?#iefix') format('embedded-opentype'),
                url('#{$path-fonts}/MyriadProBoldItalic.woff') format('woff'),
                url('#{$path-fonts}/MyriadProBoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}