// классы-хелперы

.clearfix {
  @include clearfix;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.hide,
.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

img {
  vertical-align: middle;
}

.img-responsive {
  @include img-responsive;
}

.img-inline {
  display: inline-block;
}

.img-circle {
  border-radius: 50%;
}

.text-hide       { @include text-hide; }
.text-left       { text-align: left; }
.text-right      { text-align: right; }
.text-center     { text-align: center; }
.text-justify    { text-align: justify; }
.text-nowrap     { white-space: nowrap; }

// Transformation
.text-lowercase  { text-transform: lowercase; }
.text-uppercase  { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }

.fade {
  opacity: 0;
  transition: opacity .15s linear;
  &.in {
    opacity: 1;
  }
}

.js-text-ellipsis {
  overflow: hidden;
}

.ratio {
  position: relative;
  overflow: hidden;
  > * {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.column {
  float: left;
  min-height: 1px;
}

.row-alt {
  font-size: 0;
}

.column-alt {
  display: inline-block;
  vertical-align: top;
  font-size: $font-size-base;
  float: none;
}

.bg-cover {
  background-size: cover;
  background-position: 50% 50%;
}

.v-centered {
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%;
  width: 100%;
}
