@font-face {
    font-family: 'icons';
    src:    url('#{$path-fonts}/icons.eot');
    src:    url('#{$path-fonts}/icons.eot#iefix') format('embedded-opentype'),
            url('#{$path-fonts}/icons.ttf') format('truetype'),
            url('#{$path-fonts}/icons.woff') format('woff'),
            url('#{$path-fonts}/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    vertical-align: middle;
}
