html,
body {
	height: $page-height;
}

body {
	min-width: 320px;
	padding-top: $header-height;
	&.header-compact {
		padding-top: $header-height-compact;
	}
}

.wrapper { // wrapper
	position: relative;
	min-height: $page-height;
	overflow: hidden;
}
