a {
  color: $link-color;
  text-decoration: underline;
  outline: none !important;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: none;
  }

}

.link-unstyled { // ссылка без форматирования
  text-decoration: none !important;
}

.link-block { // блочная ссылка
  @extend .link-unstyled;
  display: block;
}

.link {
  @extend .link-unstyled;
  @include link-underline();
}