html {
  font-size: 16PX;
}

body {
  font-family: 'MyriadPro', Tahoma, Arial;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

// small {
// }

// big {
// }

// strong {
// }

blockquote {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
}

// address {
// }

p {
  margin: 0 0 $line-height-base;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: $line-height-base;
  ul,
  ol {
    margin-bottom: 0;
  }
}

.list-unstyled {
  @include list-unstyled;
}

.list-inline {
  @include list-unstyled;
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted;
}

.title-1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 14px;
}

.title-2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 33px;
}

.title-3 {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 0;
}