// переменные Размеры
// *************************************************************************
$page-height: 100%; // высота страницы
$page-width: 100%; // ширина страницы

$footer-height: 100px; // высота подвала
$header-height: 105px; // высота шапки
$header-height-compact: 70px;

$layout-min-width: $device-phone; // минимальная ширина сайта
$layout-max-width: $device-large; // максимальная ширина сайта
$layout-offset: $grid-gutter-width; // горизонтальный отступ от краёв экрана