// переменные Цвета
// *************************************************************************
$black: #000;
$dark:	#111;
$white: #fff;
$blue: blue;
$green: green;
$orange: #fcaf17;
$red: red;
$pink: pink;
$cyan: cyan;
$purple: purple;
$purple-light: #F0E7F1;
$gray: gray;
$yellow: #F7C879;
$yellow-light: #FFF9EF;

$brand-primary: $blue;
$brand-secondary: $green;

// --------------------------------------------------
$body-bg: $white !default;
$text-color: $dark !default;

$link-color: $brand-primary !default;
$link-hover-color: darken($link-color, 15%) !default;

// --------------------------------------------------
$input-border: #ccc !default;
$input-bg: $white !default;
$input-bg-disabled: $gray !default;
$input-color: $black !default;
$input-border-focus: #66afe9 !default;
$input-color-placeholder: #999 !default;
