// переменные проекта

$font-family-base: "MyriadProRegular", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$font-size-base: 18px !default;
$font-size-small: 12px !default;

$line-height-base: 21px !default;

$border-radius-base: 3px;