.form-send-message {
  padding: 0 185px;
  .form-message-title {
    margin-bottom: 25px;
    h4 {
      font-size: 18px;
      font-style: normal;
      color: $black;
    }
  }
  .form-group {
    width: 300px;
    display: inline-block;
    margin-right: 22px;
    margin-bottom: 0;
    vertical-align: top;
    input {
      font-size: 18px;
      font-style: normal;
      padding: 22px 15px;
      border-radius: 7px;
      border-color: #999;
    }
    .form-control:focus:focus {
      border-color: #fcaf17;
    }
  }
  .form-button {
    display: inline-block;
    padding-top: 2px;
    .btn-more {
      font-size: 20px;
      line-height: 20px;
      text-transform: capitalize;
      padding: 10px 20px;
      margin-left: 0;
    }
  }
  .errorMessage {
      font-size: 14px;
      line-height: 14px;
      font-style: italic;
      padding: 5px 0;
      border-radius: 7px;
      color: $white;
      text-align: center;
      margin-left: 2.6rem;
      margin-right: 2.6rem;
      background: #ef0000;
      position: relative;
      top: 5px;
        &:after {
          bottom: 100%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(239, 0, 0, 0);
          border-bottom-color: #ef0000;
          border-width: 5px;
          margin-left: -5px;
        }
        *:before, *:after {
          box-sizing: border-box;
        }
  }
}
