
  .modal-recall-in {
    background: #fff;
    text-align: center;
    border-radius: 5px;
    width: 535px;
    height: 305px;
    position: fixed;
    z-index: 1041;
    left: 50%;
    top: 50%;
    margin: -222.5px 0 0 -222.5px;
    h4 {
      margin-bottom: 30px;
      font-size: 24px !important;
      color: $black !important;
      text-align: center;
    }
    .form-group {
      margin-bottom: 20px !important;
    }
    .form-button {
      text-align: right !important;
      margin: 0 124px !important;
    }
    .link-close {
      position: absolute;
      right: -50px;
      top: -10px;
    }
    .form-contacts {
      margin: 38px 0;
    }
  }
  

  .modal-recall-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1040;
  }

@include respond-to($respond-phone) {
    .modal-recall-in {
    background: #fff;
    text-align: center;
    border-radius: 5px;
    height: 305px;
    position: fixed;
    z-index: 1041;
    left: 50%;
    top: 50%;
    width:280px;
    margin-left:-140px;
    .form-group {
    width:250px !important;
    }
    h4 {
      margin-bottom: 30px;
      font-size: 1.2rem !important;
      color: $black !important;
      text-align: center;
    }
    .form-group {
      margin-bottom: 20px !important;
    }
    .form-button {
      text-align: right !important;
      margin: 0 124px !important;
    }
    .link-close {
      position: absolute;
      top: -60px !important;
      right: -7px;
    }
    .form-contacts {
      margin: 38px 0;
    }
  }
}