<!-- .footer -->
<footer class="footer">
  <div class="container">
    footer
  </div>
</footer><!-- end .footer -->

<!-- modal-recall -->
	<div class="modal-recall" id="modal-recall" style="display:none;">
		<div class="modal-recall-in">
			<div class="form-contacts">
	          <form>

	            <div class="form-title">
	              <h4 class="title-4">Оставьте свою заявку и мы вам перезвоним</h4>
	            </div>

	            <div class="fields">

	              <div class="form-group">
	                  <input type="text" class="form-control" placeholder="Имя и фамилия" />
	                  {{!-- <div class="errorMessage">Укажите имя и фамилию</div> --}}
	              </div>

	              <div class="form-group">
	                  <input type="text" class="form-control" placeholder="Контактный телефон" />
	                  {{!-- <div class="errorMessage">Укажите вашь телефон</div> --}}
	              </div>

	              <div class="form-button">
	                <button type="submit" class="btn btn-more">отправить</button>
	              </div>

	            </div>

	          </form>
	        </div>

	        <a href="#" class="link-close"><img src="img/crose-modal.png"></a>
		</div>
		<div class="modal-recall-backdrop"></div>
	</div><!-- end modal-recall -->