<!-- .header -->
<header class="header">
  <div class="container row-alt">
    
    <div class="column-alt column-logo">
    	<!-- logo -->
    	<a href="#" class="link-block logo" data-scrollto="0">
    		<img src="img/logo.png" class="img-responsive" />
    	</a><!-- end logo -->
    </div>
    
    <div class="column-alt column-nav">
    	<!-- nav-main -->
    	<nav class="nav-main">
    		<ul class="list-inline">
    			<li><a href="#about">О нас</a></li>
    			<li><a href="#profile">Направления</a></li>
    			<li><a href="#benefits">Преимущества</a></li>
    			<li><a href="#clinics">Клиники</a></li>
    			<li><a href="#reviews">Отзывы</a></li>
    			<li><a href="#contacts">Контакты</a></li>
    		</ul>
    	</nav><!-- end nav-main -->
    </div>

    <div class="column-alt column-contacts">
    	<!-- contacts -->
    	<div class="contacts">
    		<ul class="list-unstyled">
    			<li><b>+7 (727) 321 80 33</b></li>
    		</ul>
    	</div><!-- end contacts -->
    </div>
    
  </div>
</header><!-- end .header -->
