<!-- section-benefits -->
<section class="section section--yellow section--benefits" id="benefits">
	<div class="section-body container">

		<figcaption class="section-title">
			<h2 class="title-2">Преимущества лечения в&nbsp;Южной Корее</h2>
		</figcaption>

		<div class="row">
			<div class="col-lg-6 col-md-6">

				<!-- benefit-item -->
				<div class="benefit-item">
					<div class="benefit-item-img">
						<img src="samples/pic-benefit-01.png" class="img-responsive" />
					</div>
					<div class="benefit-item-in">Самые последние достижения современной мировой медицины</div>
				</div><!-- end benefit-item -->

				<!-- benefit-item -->
				<div class="benefit-item">
					<div class="benefit-item-img">
						<img src="samples/new-pic-benifict-01.png" class="img-responsive" />
					</div>
					<div class="benefit-item-in">Инновационное оборудование и&nbsp;новейшие технологии</div>
				</div><!-- end benefit-item -->

				<!-- benefit-item -->
				<div class="benefit-item">
					<div class="benefit-item-img">
						<img src="samples/new-pic-benifict-02.png" class="img-responsive" />
					</div>
					<div class="benefit-item-in">Лучшие клиники</div>
				</div><!-- end benefit-item -->

				<!-- benefit-item -->
				<div class="benefit-item">
					<div class="benefit-item-img">
						<img src="samples/pic-benefit-04.png" class="img-responsive" />
					</div>
					<div class="benefit-item-in">Профессора и&nbsp;доктора наук с&nbsp;мировыми именами</div>
				</div><!-- end benefit-item -->

				<!-- benefit-item -->
				<div class="benefit-item">
					<div class="benefit-item-img">
						<img src="samples/new-pic-benifict-04.png" class="img-responsive" />
					</div>
					<div class="benefit-item-in">Индивидуальные программы диагностики, лечения и&nbsp;сервиса для каждого пациента</div>
				</div><!-- end benefit-item -->

			</div>
			<div class="col-lg-6 col-md-6">

				<!-- benefit-item -->
				<div class="benefit-item">
					<div class="benefit-item-img">
						<img src="samples/pic-benefit-06.png" class="img-responsive" />
					</div>
					<div class="benefit-item-in">Предварительная консультация и&nbsp;ответы на&nbsp;интересующие Вас вопросы.</div>
				</div><!-- end benefit-item -->

				<!-- benefit-item -->
				<div class="benefit-item">
					<div class="benefit-item-img">
						<img src="samples/pic-benefit-07.png" class="img-responsive" />
					</div>
					<div class="benefit-item-in">Организация диагностики и&nbsp;лечения в&nbsp;кратчайшие сроки.</div>
				</div><!-- end benefit-item -->

				<!-- benefit-item -->
				<div class="benefit-item">
					<div class="benefit-item-img">
						<img src="samples/new-pic-benifict-03.png" class="img-responsive" />
					</div>
					<div class="benefit-item-in">Конфиденциальность в&nbsp;отношении пациентов.</div>
				</div><!-- end benefit-item -->

				<!-- benefit-item -->
				<div class="benefit-item">
					<div class="benefit-item-img">
						<img src="samples/pic-benefit-09.png" class="img-responsive" />
					</div>
					<div class="benefit-item-in">Квалифицированные переводчики и&nbsp;сопровождающий персонал.</div>
				</div><!-- end benefit-item -->

				<!-- benefit-item -->
				<div class="benefit-item">
					<div class="benefit-item-img">
						<img src="samples/pic-benefit-10.png" class="img-responsive" />
					</div>
					<div class="benefit-item-in">Профессионализм, высокое качество медицинских услуг и&nbsp;сервиса.</div>
				</div><!-- end benefit-item -->

			</div>
		</div>

	</div>
</section><!-- end section-benefits -->
