<!-- section-clinics -->
<section class="section section--purple section--clinics" id="clinics">
	<div class="section-body container">

		<figcaption class="section-title">
			<h2 class="title-2">Клиники</h2>
		</figcaption>

		<!-- section-tabs -->
		<div class="section-tabs">
			<ul class="list-inline section-tabs-links text-center">
				<li><a href="#tab1" data-toggle="tab">Fatima</a></li>
				<li><a href="#tab2" data-toggle="tab">Kyungpook</a></li>
				<li class="active"><a href="#tab3" data-toggle="tab">V-Plastic</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane" id="tab1">

					<div class="row">
						<div class="col-lg-6 col-md-6">
							<!-- gallery -->
							<div class="gallery">
								<div class="gallery-viewport">
									<div class="carousel owl-carousel">
										<div class="slide">
											<img src="samples/pic-gallery-01.jpg" data-thumb="samples/pic-thumb-01.jpg" class="img-responsive" />
										</div>
										<div class="slide">
											<img src="samples/pic-gallery-01.jpg" data-thumb="samples/pic-thumb-02.jpg" class="img-responsive" />
										</div>
										<div class="slide">
											<img src="samples/pic-gallery-01.jpg" data-thumb="samples/pic-thumb-03.jpg" class="img-responsive" />
										</div>
									</div>
								</div>
								<div class="gallery-thumbs thumbs hidden">
									<ul class="list-inline"></ul>
								</div>
							</div><!-- end gallery -->
						</div>
						<div class="col-lg-6 col-md-6">
							<h4>Fatima</h4>
							<p>Это современная клиника пластической хирургии, которая предлагает своим пациентам высокое качество работы и&nbsp;обслуживания. Сама атмосфера в&nbsp;клинике говорит за&nbsp;себя. Дизайн, сервис и&nbsp;конечно&nbsp;же современное дорогостоящее оборудование. В&nbsp;клинике предусмотрено все, от&nbsp;А до&nbsp;Я.&nbsp;При посещении однажды этой клиники хочется остаться там и&nbsp;выйти еще красивей.</p>
							<p>Основатель клиники является пластическим хирургом с&nbsp;многолетним стажем и&nbsp;признанным не&nbsp;только в&nbsp;Южной Корее, но&nbsp;и&nbsp;во&nbsp;всем мире. По&nbsp;желанию пациентов можно запросить его личную консультацию, очень доступно объясняет и&nbsp;видит, как лучше и&nbsp;красиво. Могу отметить что пластическая хирургия очень ценится именно в&nbsp;Южной Кореи, т.к. выполняя свою работу они дарят своим клиентам естественную внешность и&nbsp;красоту.</p>
							<a href="#modal-recall" class="btn btn-more  btn-recall">Узнать больше</a>
						</div>
					</div>

				</div>
				<div class="tab-pane" id="tab2">

					<div class="row">
						<div class="col-lg-6 col-md-6">
							<!-- gallery -->
							<div class="gallery">
								<div class="gallery-viewport">
									<div class="carousel owl-carousel">
										<div class="slide">
											<img src="samples/pic-gallery-01.jpg" data-thumb="samples/pic-thumb-01.jpg" class="img-responsive" />
										</div>
										<div class="slide">
											<img src="samples/pic-gallery-01.jpg" data-thumb="samples/pic-thumb-02.jpg" class="img-responsive" />
										</div>
										<div class="slide">
											<img src="samples/pic-gallery-01.jpg" data-thumb="samples/pic-thumb-03.jpg" class="img-responsive" />
										</div>
									</div>
								</div>
								<div class="gallery-thumbs thumbs hidden">
									<ul class="list-inline"></ul>
								</div>
							</div><!-- end gallery -->
						</div>
						<div class="col-lg-6 col-md-6">
							<h4>Kyungpook</h4>
							<p>Это современная клиника пластической хирургии, которая предлагает своим пациентам высокое качество работы и&nbsp;обслуживания. Сама атмосфера в&nbsp;клинике говорит за&nbsp;себя. Дизайн, сервис и&nbsp;конечно&nbsp;же современное дорогостоящее оборудование. В&nbsp;клинике предусмотрено все, от&nbsp;А до&nbsp;Я.&nbsp;При посещении однажды этой клиники хочется остаться там и&nbsp;выйти еще красивей.</p>
							<p>Основатель клиники является пластическим хирургом с&nbsp;многолетним стажем и&nbsp;признанным не&nbsp;только в&nbsp;Южной Корее, но&nbsp;и&nbsp;во&nbsp;всем мире. По&nbsp;желанию пациентов можно запросить его личную консультацию, очень доступно объясняет и&nbsp;видит, как лучше и&nbsp;красиво. Могу отметить что пластическая хирургия очень ценится именно в&nbsp;Южной Кореи, т.к. выполняя свою работу они дарят своим клиентам естественную внешность и&nbsp;красоту.</p>
							<a href="#modal-recall" class="btn btn-more  btn-recall">Узнать больше</a>
						</div>
					</div>

				</div>
				<div class="tab-pane active" id="tab3">

					<div class="row">
						<div class="col-lg-6 col-md-6">
							<!-- gallery -->
							<div class="gallery">
								<div class="gallery-viewport">
									<div class="carousel owl-carousel">
										<div class="slide">
											<img src="samples/pic-gallery-01.jpg" data-thumb="samples/pic-thumb-01.jpg" class="img-responsive" />
										</div>
										<div class="slide">
											<img src="samples/pic-gallery-01.jpg" data-thumb="samples/pic-thumb-02.jpg" class="img-responsive" />
										</div>
										<div class="slide">
											<img src="samples/pic-gallery-01.jpg" data-thumb="samples/pic-thumb-03.jpg" class="img-responsive" />
										</div>
									</div>
								</div>
								<div class="gallery-thumbs thumbs hidden">
									<ul class="list-inline"></ul>
								</div>
							</div><!-- end gallery -->
						</div>
						<div class="col-lg-6 col-md-6">
							<h4>V-PlasticSurgery</h4>
							<p>Это современная клиника пластической хирургии, которая предлагает своим пациентам высокое качество работы и&nbsp;обслуживания. Сама атмосфера в&nbsp;клинике говорит за&nbsp;себя. Дизайн, сервис и&nbsp;конечно&nbsp;же современное дорогостоящее оборудование. В&nbsp;клинике предусмотрено все, от&nbsp;А до&nbsp;Я.&nbsp;При посещении однажды этой клиники хочется остаться там и&nbsp;выйти еще красивей.</p>
							<p>Основатель клиники является пластическим хирургом с&nbsp;многолетним стажем и&nbsp;признанным не&nbsp;только в&nbsp;Южной Корее, но&nbsp;и&nbsp;во&nbsp;всем мире. По&nbsp;желанию пациентов можно запросить его личную консультацию, очень доступно объясняет и&nbsp;видит, как лучше и&nbsp;красиво. Могу отметить что пластическая хирургия очень ценится именно в&nbsp;Южной Кореи, т.к. выполняя свою работу они дарят своим клиентам естественную внешность и&nbsp;красоту.</p>
							<p>В&nbsp;клинике V-PlasticSurgery используют новейшие методы по&nbsp;подтяжке лица, не&nbsp;все клинике используют данные методы. Многие пластические хирурги приезжают для обучения этой методики в&nbsp;V-PlasticSurgery. Если кто планирует провести пластику, могу смело рекомендовать эту клинику и&nbsp;так&nbsp;же хочу отметить что стоимость на&nbsp;услуги сравнительно не&nbsp;так дорого.</p>
							<a href="#modal-recall" class="btn btn-more  btn-recall">Узнать больше</a>
						</div>
					</div>

				</div>
			</div>
		</div><!-- end section-tabs -->

	</div>
</section><!-- end section-clinics -->
