<!-- section-how -->
<section class="section section--yellow section--how">
	<div class="section-body container section-why-korean">

		<figcaption class="section-title">
			<h2 class="title-2">Почему именно Корея?</h2>
		</figcaption>

    <div class="row">

      <div class="col-lg-4 col-md-4">
        <div class="why-korean-info">
          <div class="why-korean-title">
              Лечение в Южной Корее - это близко,
              удобно и эффективно!
          </div>
          <div class="why-korean-text">
            <ul class="list-unstyled">
              <li> Между Кореей и Казахстаном установлен безвизовый режим</li>
              <li> Между Кореей и Казахстаном установлен безвизовый режим</li>
              <li> Между Кореей и Казахстаном установлен безвизовый режим</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-md-8">
        <div class="why-korean-map">
          <img src="samples/map-section-why-korean.png" />
        </div>
      </div>

    </div>

	</div>
</section><!-- end section-how -->
