<!-- section-promo -->
<section class="section section--purple section--promo">
	<div class="section-body container">

		<div class="section-in">

			<figcaption class="section-title">
				<h1 class="title-1">Лечение в&nbsp;Южной Корее</h1>
				<h3 class="title-3">Восстановите здоровье в&nbsp;лучших клиниках города Тэгу!</h3>
			</figcaption>

			
            <a href="#modal-recall" class="btn btn-more  btn-recall">Узнать больше</a>


    

		</div>

	</div>
	<div class="section-cover bg-cover"><img src="samples/pic-promo-01.jpg"></div>

</section><!-- end section-promo -->
