<!-- section-profile -->
<section class="section section--purple section--profile" id="profile">
	<div class="section-body container">

		<figcaption class="section-title">
			<h2 class="title-2">Приоритетные направления</h2>
		</figcaption>

		<div class="preoriti-item-list">


      <div class="preoriti-item">
        <div class="preoriti-item-img">
          <img src="samples/pic-preoriti-01.png" />
        </div>
        <div class="preoriti-item-title">
          <h4 class="title-4">Диагностика</h4>
        </div>
        <div class="preoriti-item-info">
          <ul>
            <li>Полный чек-ап за 3 дня</li>
            <li>Современное роботизированное оборудование</li>
          </ul>
        </div>
      </div>

      <div class="preoriti-item">
        <div class="preoriti-item-img">
          <img src="samples/pic-preoriti-02.png" />
        </div>
        <div class="preoriti-item-title">
          <h4 class="title-4">Лечение онкологии</h4>
        </div>
        <div class="preoriti-item-info">
          <ul>
            <li>Специализированные клиники</li>
            <li>Современное роботизированное оборудование</li>
            <li>Врачи высшей квалификации</li>
          </ul>
        </div>
      </div>


      <div class="preoriti-item">
        <div class="preoriti-item-img">
          <img src="samples/pic-preoriti-03.png" />
        </div>
        <div class="preoriti-item-title">
          <h4 class="title-4">Лечение бесплодия</h4>
        </div>
        <div class="preoriti-item-info">
          <ul>
            <li>Высокий уровень развития репродуктивной медицины</li>
            <li>Привлекательное соотношение «цена/качество»</li>
            <li>Фундаментальный опыт</li>
          </ul>
        </div>
      </div>

      <div class="preoriti-item">
        <div class="preoriti-item-img">
          <img src="samples/pic-preoriti-04.png" />
        </div>
        <div class="preoriti-item-title">
          <h4 class="title-4">Трансплантация органов</h4>
        </div>
        <div class="preoriti-item-info">
          <ul>
            <li>Современное оборудование, не имеющее аналогов в Казахстане и России</li>
            <li>Стоимость на порядок ниже, чем в клиниках США и Западной Европы</li>
          </ul>
        </div>
      </div>

      <div class="preoriti-item">
        <div class="preoriti-item-img">
          <img src="samples/pic-preoriti-05.png" />
        </div>
        <div class="preoriti-item-title">
          <h4 class="title-4">Пластическая хирургия</h4>
        </div>
        <div class="preoriti-item-info">
          <ul>
            <li>Врачи высшей квалификации</li>
            <li>Привлекательное соотношение цена/качество</li>
            <li>Успешный опыт устранения самых сложных изъянов (включая последствия аварий)</li>
          </ul>
        </div>
      </div>
    </div>



        <!-- profile-item -->
        {{!-- <div class="profile-item">
        <div class="profile-item-body">
          <div class="profile-item-img">
            <div class="ratio">
              <img src="samples/pic-preoriti-05.png" class="img-responsive" />
            </div>
          </div>
          <div class="profile-item-in">
            <p>Пластическая хирургия. Очень популярным направлением в&nbsp;медицине и&nbsp;косметологии на&nbsp;сегодняшний день является пластическая хирургия. Хороший пластический хирург не&nbsp;только способен скрыть практически все следы старения, но&nbsp;и&nbsp;исправить последствия страшных аварий. Именно такие специалисты работают в&nbsp;клиниках Южной Кореи.</p>
          </div><!-- end profile-item -->
        </div> --}}


		</div>

	</div>
</section><!-- end section-profile -->
