<!-- section-how -->
<section class="section section--yellow section--how">
  <div class="section-body container">

    <figcaption class="section-title">
      <h2 class="title-2">Как мы работаем</h2>
    </figcaption>


        <!-- how-item -->
        <div class="how-item">
          <div class="how-item-img">
            <img src="samples/pic-how-01.png" class="img-responsive" />
          </div>
          <div class="how-item-in">Вы обращаетесь к&nbsp;нам</div>
        </div><!-- end how-item -->

        <!-- how-item -->
        <div class="how-item">
          <div class="how-item-img">
            <img src="samples/pic-how-02.png" class="img-responsive" />
          </div>
          <div class="how-item-in">Мы подбираем клинику и&nbsp;связываемся с&nbsp;ней</div>
        </div><!-- end how-item -->

        <!-- how-item -->
        <div class="how-item">
          <div class="how-item-img">
            <img src="samples/new-pichow-01.png" class="img-responsive" />
          </div>
          <div class="how-item-in">Подтверждаем поездку и&nbsp;организовываем проживание</div>
        </div><!-- end how-item -->

        <!-- how-item -->
        <div class="how-item">
          <div class="how-item-img">
            <img src="samples/new-pichow-02.png" class="img-responsive" />
          </div>
          <div class="how-item-in">Наш менеджер будет сопровождать&nbsp;вас на протяжении&nbsp;всей поездки</div>
        </div><!-- end how-item -->

        <!-- how-item -->
        <div class="how-item">
          <div class="how-item-img">
            <img src="samples/pic-how-04.png" class="img-responsive" />
          </div>
          <div class="how-item-in">Вы летите на&nbsp;лечение</div>
        </div><!-- end how-item -->


  </div>
</section><!-- end section-how -->
