<!-- section-reviews -->
<section class="section section--purple section--reviews" id="reviews">
	<div class="section-body container">

		<figcaption class="section-title">
			<h2 class="title-2">Отзывы</h2>
		</figcaption>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-xs-12">

				<!-- review-item -->
				<div class="review-item">
					<div class="review-item-media text-center">
						<div class="review-item-img">
							<img src="samples/pic-review-01.jpg" class="img-responsive img-circle" />
						</div>
						<div class="review-item-meta">Диана<br /> <i>Алматы</i></div>
					</div>
					<div class="review-item-in">
						<p>Сегодня я&nbsp;прошла полную диагностику всего организма. Стоимость такой диагностики 500$. Встретила очень много казахстанцев. Многие наши граждане постепенно переходить на&nbsp;диагностику и&nbsp;лечение заграницей, в&nbsp;частности в&nbsp;Южной Корее, т.к. именно здесь можно получить высший сервис, качество и&nbsp;главное точность.</p>


					</div>
					<div class="toggle-item">
						<div class="toggle-item-body">
							<div class="toggle-item-title">
								<a href="#" class="btn-toggle link-toggle">
									<span class="text-toggle">Подробнее</span>
									<span class="text-toggled">Свернуть</span>
								</a>
							</div>
							<div class="toggle-item-in" style="display:none;">
								<p>Сегодня я&nbsp;прошла полную диагностику всего организма. Стоимость такой диагностики 500$. Встретила очень много казахстанцев. Многие наши граждане постепенно переходить на&nbsp;диагностику и&nbsp;лечение заграницей, в&nbsp;частности в&nbsp;Южной Корее, т.к. именно здесь можно получить высший сервис, качество и&nbsp;главное точность.</p>
							</div>
						</div>
					</div><!-- end toggle-item -->

				</div><!-- end review-item -->

				

			</div>
			<div class="col-lg-6 col-md-6 col-xs-12">

				<!-- review-item -->
				<div class="review-item">
					<div class="review-item-media text-center">
						<div class="review-item-img">
							<img src="samples/pic-review-01.jpg" class="img-responsive img-circle" />
						</div>
						<div class="review-item-meta">Лейла<br /> <i>Атарау</i></div>
					</div>
					<div class="review-item-in">
						<p>Сегодня я&nbsp;прошла полную диагностику всего организма. Стоимость такой диагностики 500$. Встретила очень много казахстанцев.</p>
					</div>
				</div><!-- end review-item -->

			</div>
		</div>

	</div>
</section><!-- end section-reviews -->
