<!-- section-contacts -->
<section class="section section--yellow section--contacts" id="contacts">
	<div class="section-body container">

		<figcaption class="section-title">
			<h2 class="title-2">Контакты</h2>
		</figcaption>

		<div class="row">
			<div class="col-lg-5 col-md-5">
        <!-- form-send-message-section -->
        <div class="form-contacts">
          <form>

            <div class="form-title">
              <h4 class="title-4">Оставьте свою заявку и мы вам перезвоним</h4>
            </div>

            <div class="fields">

              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Имя и фамилия" />
                  {{!-- <div class="errorMessage">Укажите имя и фамилию</div> --}}
              </div>

              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Контактный телефон" />
                  {{!-- <div class="errorMessage">Укажите вашь телефон</div> --}}
              </div>

              <div class="form-button">
                <button type="submit" class="btn btn-more">отправить</button>
              </div>

            </div>

          </form>
        </div>
        <!-- end form-send-massage-->
				<p>Ул. Амангельды, БЦ&nbsp;&laquo;Шартас&raquo;</p>
				<p>
					+7 (727) 321 80 33<br />
					+7 (727) 267 65 02
				</p>
				<p>info@nurai.kz</p>
			</div>
			<div class="col-lg-7 col-md-7">
				<!-- map -->
				<div class="map-wrapper">
          <div class="map"
            id="pageMap"
            data-latitude="43.246539"
            data-longitude="76.931720"
            data-zoom="17">
          </div>
				</div><!-- end map-wrapper -->
			</div>
		</div>

	</div>
</section><!-- end section-contacts -->
