<!-- section-about -->
<section class="section section--yellow section--about" id="about">
	<div class="section-body container">

		<div class="row">
			<div class="col-lg-8 col-md-8">
				<blockquote>Лечение в&nbsp;Корее&nbsp;&mdash; это прежде всего передовые методы диагностики, лечения и&nbsp;комплексный сервис.</blockquote>
			</div>
		</div>
	
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<div class="section-text">
					<p>Пластическая хирургия, стоматология, лечение бесплодия , интимная пластическая хирургия, лечение псориаза&nbsp;&mdash; это маленький перечень того, что может предложить корейская медицина сегодня. В&nbsp;сфере онкологии, благодаря проведению исследований и&nbsp;клинических испытаний мирового значения, южнокорейские медики достигли высокого уровня в&nbsp;оказании медицинской помощи.<br /><br /></p>
					<p>Авиатурагентство Nur Ai&nbsp;&amp;&nbsp;Co является официальным представителем в&nbsp;Казахстане нескольких известных корейских клиник&nbsp;&mdash; Kyungpook, Fatima Hospital и&nbsp;V-plastic из&nbsp;города Тэгу.</p>
					<p>Мы&nbsp;поможем выбрать нужную клинику, подберем вам представителя/помощника в&nbsp;городе Тэгу, проконсультируем по&nbsp;всем значимым вопросам и&nbsp;организуем поездку.</p>
				</div>
			</div>
		</div>
		
		<div class="section-img">
			<img src="samples/pic-about-01.png" class="img-responsive" />
		</div>
	
	</div>
</section><!-- end section-about -->