<!-- section-how -->
<section class="section section-send-message">
	<div class="section-body container">

      <!-- form-send-message-section -->
      <div class="form-send-message">
        <form>

          <div class="form-message-title text-center">
            <h4 class="title-4">Оставьте свою заявку и мы вам перезвоним</h4>
          </div>

          <div class="fields">

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Имя и фамилия" />
                {{!-- <div class="errorMessage">Укажите имя и фамилию</div> --}}
            </div>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Контактный телефон" />
                {{!-- <div class="errorMessage">Укажите вашь телефон</div> --}}
            </div>

            <div class="form-button">
              <button type="submit" class="btn btn-more">отправить</button>
            </div>

          </div>

        </form>
      </div>
      <!-- end form-send-massage-->

  </div>
</section><!-- end section-how -->
