$thumb-offset: 9px;

.gallery {
	.section--clinics & {
		//padding-left: 43px;
		padding-top: 36px;
		padding-right: 43px;
	}
}

.gallery-viewport {
	overflow: hidden;
	border-radius: 3px;
	margin-bottom: 10px;
}

.gallery-thumbs {
	ul {
		margin: 0 (-$thumb-offset/2);
		font-size: 0;
	}
	li {
		cursor: pointer;
		padding: 0 $thumb-offset/2;
		margin: 0 0 $thumb-offset;
		width: 25%;
		overflow: hidden;
		border-radius: 3px;
		vertical-align: top;
		div {
			position: relative;
			&::after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: rgba(#c7d4d3,.66);
				opacity: 0;
				transition: opacity .4s;
			}
		}
		&.active {
			cursor: default;
			div {
				&::after {
					opacity: 1;
				}
			}
		}
	}
}