// .section-tabs {
// }

.section-tabs-links {
	font-size: 24px;
	line-height: 24px;
	margin: 0 0 43px;
	a {
		@extend .link-block;
		padding: 4px 15px;
		border-radius: 3px;
		background: $yellow;
		color: $text-color;
	}
	li {
		padding: 0 8px;
		&.active {
			a {
				font-weight: 700;
				background: none;
			}
		}
	}
}