/*!
 * rustemtastanov@gmail.com, 2016
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 2.5rem;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 0.125rem;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

figure {
  margin: 0;
}

[role="button"] {
  cursor: pointer;
}

@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/MyriadProBold.eot");
  src: url("../fonts/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProBold.woff") format("woff"), url("../fonts/MyriadProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/MyriadProItalic.eot");
  src: url("../fonts/MyriadProItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProItalic.woff") format("woff"), url("../fonts/MyriadProItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/MyriadProBoldItalic.eot");
  src: url("../fonts/MyriadProBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProBoldItalic.woff") format("woff"), url("../fonts/MyriadProBoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

html {
  font-size: 16PX;
}

body {
  font-family: 'MyriadPro', Tahoma, Arial;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #111;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

blockquote {
  margin: 0;
  padding: 0;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

p {
  margin: 0 0 1.3125rem;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 1.3125rem;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -0.3125rem;
}

.list-inline > li {
  display: inline-block;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted;
}

.title-1 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 4.5rem;
  margin-bottom: 0.875rem;
}

.title-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 2.0625rem;
}

.title-3 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 0;
}

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot#iefix") format("embedded-opentype"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  vertical-align: middle;
}

a {
  color: blue;
  text-decoration: underline;
  outline: none !important;
}

a:hover, a:focus {
  color: #0000b3;
  text-decoration: none;
}

.link-unstyled, .link-block, .section-tabs-links a, .link, .nav-main a {
  text-decoration: none !important;
}

.link-block, .section-tabs-links a {
  display: block;
}

.link {
  background-image: -webkit-linear-gradient(top, transparent 50%, blue 50%);
  background-image: linear-gradient(to bottom, transparent 50%, blue 50%);
  background-repeat: repeat-x;
  background-size: 1PX 1px;
  background-position: 0 100%;
  padding-bottom: 0;
}

.modal-recall-in {
  background: #fff;
  text-align: center;
  border-radius: 0.3125rem;
  width: 33.4375rem;
  height: 19.0625rem;
  position: fixed;
  z-index: 1041;
  left: 50%;
  top: 50%;
  margin: -13.90625rem 0 0 -13.90625rem;
}

.modal-recall-in h4 {
  margin-bottom: 1.875rem;
  font-size: 1.5rem !important;
  color: #000 !important;
  text-align: center;
}

.modal-recall-in .form-group {
  margin-bottom: 1.25rem !important;
}

.modal-recall-in .form-button {
  text-align: right !important;
  margin: 0 7.75rem !important;
}

.modal-recall-in .link-close {
  position: absolute;
  right: -3.125rem;
  top: -0.625rem;
}

.modal-recall-in .form-contacts {
  margin: 2.375rem 0;
}

.modal-recall-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1040;
}

@media (max-width: 767px) {
  .modal-recall-in {
    background: #fff;
    text-align: center;
    border-radius: 0.3125rem;
    height: 19.0625rem;
    position: fixed;
    z-index: 1041;
    left: 50%;
    top: 50%;
    width: 17.5rem;
    margin-left: -8.75rem;
  }
  .modal-recall-in .form-group {
    width: 15.625rem !important;
  }
  .modal-recall-in h4 {
    margin-bottom: 1.875rem;
    font-size: 1.2rem !important;
    color: #000 !important;
    text-align: center;
  }
  .modal-recall-in .form-group {
    margin-bottom: 1.25rem !important;
  }
  .modal-recall-in .form-button {
    text-align: right !important;
    margin: 0 7.75rem !important;
  }
  .modal-recall-in .link-close {
    position: absolute;
    top: -3.75rem !important;
    right: -0.4375rem;
  }
  .modal-recall-in .form-contacts {
    margin: 2.375rem 0;
  }
}

.tooltip {
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.3125rem;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  position: absolute;
  z-index: 1070;
  display: block;
  font-size: 0.75rem;
  opacity: 0;
}

.tooltip.in {
  opacity: 0.9;
}

.tooltip.top {
  margin-top: -0.1875rem;
  padding: 0.3125rem 0;
}

.tooltip.right {
  margin-left: 0.1875rem;
  padding: 0 0.3125rem;
}

.tooltip.bottom {
  margin-top: 0.1875rem;
  padding: 0.3125rem 0;
}

.tooltip.left {
  margin-left: -0.1875rem;
  padding: 0 0.3125rem;
}

.tooltip-inner {
  max-width: 200px;
  padding: 0.1875rem 0.5rem;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 0.1875rem;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -0.3125rem;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 0.3125rem;
  margin-bottom: -0.3125rem;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 0.3125rem;
  margin-bottom: -0.3125rem;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -0.3125rem;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -0.3125rem;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -0.3125rem;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 0.3125rem;
  margin-top: -0.3125rem;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 0.3125rem;
  margin-top: -0.3125rem;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition-property: box-shadow, background-color, color;
  transition-property: box-shadow, background-color, color;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  outline: none !important;
  text-decoration: none !important;
  padding: 0.375rem 0.75rem;
  border-radius: 0.3125rem;
}

.btn:active, .btn.active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled, .btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  box-shadow: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.btn-block {
  display: block;
  width: 100%;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.btn-default {
  background-color: #fff;
  color: #333;
  border-color: #ccc;
}

.btn-orange, .btn-more {
  background-color: #fcaf17;
  color: #111 !important;
}

.btn-orange:hover, .btn-more:hover, .btn-orange.active, .active.btn-more, .btn-orange:active, .btn-more:active {
  background-color: #f6a503;
}

.btn-more {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
  padding: 0.875rem 1.75rem 1.0625rem;
  margin-left: -1.875rem;
}

.section--promo .btn-more {
  margin-left: 0;
}

p + .btn-more {
  margin-top: 1.9375rem;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 1.125rem;
  line-height: inherit;
  border: 0;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 0.3125rem;
  font-weight: bold;
}

input[type="search"] {
  box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0.25rem 0 0;
  margin-top: 0.0625rem \9;
  line-height: normal;
}

input[type="file"] {
  display: block;
}

input[type="range"] {
  display: block;
  width: 100%;
}

select[multiple],
select[size] {
  height: auto;
}

output {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #000;
}

.form-control {
  display: block;
  width: 100%;
  height: 1.875rem;
  padding: 0.375rem 0.75rem;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0.1875rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  outline: none !important;
}

.form-control::-webkit-input-placeholder {
  color: #999;
}

.form-control::-moz-placeholder {
  color: #999;
}

.form-control:-ms-input-placeholder {
  color: #999;
}

.form-control::placeholder {
  color: #999;
}

.form-control::-ms-expand {
  border: 0;
  background-color: transparent;
}

.form-control:focus:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control[disabled], .form-control[readonly],
fieldset[disabled] .form-control {
  background-color: gray;
  opacity: 1;
}

.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}

textarea.form-control {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 1.875rem;
  }
}

.form-group {
  margin-bottom: 0.9375rem;
}

.form-send-message {
  padding: 0 11.5625rem;
}

.form-send-message .form-message-title {
  margin-bottom: 1.5625rem;
}

.form-send-message .form-message-title h4 {
  font-size: 1.125rem;
  font-style: normal;
  color: #000;
}

.form-send-message .form-group {
  width: 18.75rem;
  display: inline-block;
  margin-right: 1.375rem;
  margin-bottom: 0;
  vertical-align: top;
}

.form-send-message .form-group input {
  font-size: 1.125rem;
  font-style: normal;
  padding: 1.375rem 0.9375rem;
  border-radius: 0.4375rem;
  border-color: #999;
}

.form-send-message .form-group .form-control:focus:focus {
  border-color: #fcaf17;
}

.form-send-message .form-button {
  display: inline-block;
  padding-top: 0.125rem;
}

.form-send-message .form-button .btn-more {
  font-size: 1.25rem;
  line-height: 1.25rem;
  text-transform: capitalize;
  padding: 0.625rem 1.25rem;
  margin-left: 0;
}

.form-send-message .errorMessage {
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-style: italic;
  padding: 0.3125rem 0;
  border-radius: 0.4375rem;
  color: #fff;
  text-align: center;
  margin-left: 2.6rem;
  margin-right: 2.6rem;
  background: #ef0000;
  position: relative;
  top: 0.3125rem;
}

.form-send-message .errorMessage:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(239, 0, 0, 0);
  border-bottom-color: #ef0000;
  border-width: 5px;
  margin-left: -0.3125rem;
}

.form-send-message .errorMessage *:before, .form-send-message .errorMessage *:after {
  box-sizing: border-box;
}

.form-contacts {
  margin-bottom: 2.8125rem;
}

.form-contacts .form-title {
  margin-bottom: 1.5625rem;
  text-align: left;
}

.form-contacts .form-title h4 {
  font-size: 1.125rem;
  line-height: 1.125rem;
  font-style: normal;
  color: #000;
}

.form-contacts .form-group {
  width: 17.8125rem;
  display: inline-block;
  margin-right: 0;
  margin-bottom: 0.625rem;
  vertical-align: top;
}

.form-contacts .form-group input {
  font-size: 1.125rem;
  font-style: normal;
  padding: 1.375rem 0.9375rem;
  border-radius: 0.4375rem;
  border-color: #999;
}

.form-contacts .form-group .form-control:focus:focus {
  border-color: #fcaf17;
}

.form-contacts .form-button {
  text-align: left;
  padding-top: 0.125rem;
  margin-top: 0.625rem;
}

.form-contacts .form-button .btn-more {
  font-size: 1.25rem;
  line-height: 1.25rem;
  text-transform: capitalize;
  padding: 0.625rem 1.25rem;
  margin-left: 0;
}

.form-contacts .errorMessage {
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-style: italic;
  padding: 0.3125rem 0;
  border-radius: 0.4375rem;
  color: #fff;
  text-align: center;
  margin-left: 2.6rem;
  margin-right: 2.6rem;
  background: #ef0000;
  position: relative;
  top: 0.3125rem;
  left: -2.5rem;
}

.form-contacts .errorMessage:after {
  bottom: 100%;
  left: 0;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(239, 0, 0, 0);
  border-bottom-color: #ef0000;
  border-width: 5px;
  margin-left: 0.5rem;
}

.form-contacts .errorMessage *:before, .form-contacts .errorMessage *:after {
  box-sizing: border-box;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.nav-main a {
  color: #111;
}

.nav-main ul {
  margin: 0;
}

.nav-main li {
  padding: 0 0.625rem;
}

.nav-main li.active a {
  color: #fcaf17;
}

.clearfix::before, .clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.hide,
.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-inline {
  display: inline-block;
}

.img-circle {
  border-radius: 50%;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.fade.in {
  opacity: 1;
}

.js-text-ellipsis {
  overflow: hidden;
}

.ratio {
  position: relative;
  overflow: hidden;
}

.ratio > * {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.column {
  float: left;
  min-height: 0.0625rem;
}

.row-alt {
  font-size: 0;
}

.column-alt {
  display: inline-block;
  vertical-align: top;
  font-size: 1.125rem;
  float: none;
}

.bg-cover {
  background-size: cover;
  background-position: 50% 50%;
}

.v-centered {
  position: absolute;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%;
  width: 100%;
}

html,
body {
  height: 100%;
}

body {
  min-width: 20rem;
  padding-top: 6.5625rem;
}

body.header-compact {
  padding-top: 4.375rem;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1210px;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.row {
  margin-left: -0.3125rem;
  margin-right: -0.3125rem;
}

.row::before, .row::after {
  content: " ";
  display: table;
}

.row::after {
  clear: both;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 0.0625rem;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-1 {
  width: 8.3333333333%;
}

.col-xs-2 {
  width: 16.6666666667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.3333333333%;
}

.col-xs-5 {
  width: 41.6666666667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.3333333333%;
}

.col-xs-8 {
  width: 66.6666666667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.3333333333%;
}

.col-xs-11 {
  width: 91.6666666667%;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-pull-1 {
  right: 8.3333333333%;
}

.col-xs-pull-2 {
  right: 16.6666666667%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-4 {
  right: 33.3333333333%;
}

.col-xs-pull-5 {
  right: 41.6666666667%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-7 {
  right: 58.3333333333%;
}

.col-xs-pull-8 {
  right: 66.6666666667%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-10 {
  right: 83.3333333333%;
}

.col-xs-pull-11 {
  right: 91.6666666667%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-push-1 {
  left: 8.3333333333%;
}

.col-xs-push-2 {
  left: 16.6666666667%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-4 {
  left: 33.3333333333%;
}

.col-xs-push-5 {
  left: 41.6666666667%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-7 {
  left: 58.3333333333%;
}

.col-xs-push-8 {
  left: 66.6666666667%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-10 {
  left: 83.3333333333%;
}

.col-xs-push-11 {
  left: 91.6666666667%;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

.col-xs-offset-right-0 {
  margin-right: 0%;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-offset-right-1 {
  margin-right: 8.3333333333%;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-offset-right-2 {
  margin-right: 16.6666666667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-right-3 {
  margin-right: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-offset-right-4 {
  margin-right: 33.3333333333%;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-offset-right-5 {
  margin-right: 41.6666666667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-right-6 {
  margin-right: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-offset-right-7 {
  margin-right: 58.3333333333%;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-offset-right-8 {
  margin-right: 66.6666666667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-right-9 {
  margin-right: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-offset-right-10 {
  margin-right: 83.3333333333%;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-offset-right-11 {
  margin-right: 91.6666666667%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-right-12 {
  margin-right: 100%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-pull-1 {
    right: 8.3333333333%;
  }
  .col-sm-pull-2 {
    right: 16.6666666667%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-4 {
    right: 33.3333333333%;
  }
  .col-sm-pull-5 {
    right: 41.6666666667%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-7 {
    right: 58.3333333333%;
  }
  .col-sm-pull-8 {
    right: 66.6666666667%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-10 {
    right: 83.3333333333%;
  }
  .col-sm-pull-11 {
    right: 91.6666666667%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-push-1 {
    left: 8.3333333333%;
  }
  .col-sm-push-2 {
    left: 16.6666666667%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-4 {
    left: 33.3333333333%;
  }
  .col-sm-push-5 {
    left: 41.6666666667%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-7 {
    left: 58.3333333333%;
  }
  .col-sm-push-8 {
    left: 66.6666666667%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-10 {
    left: 83.3333333333%;
  }
  .col-sm-push-11 {
    left: 91.6666666667%;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
  .col-sm-offset-right-0 {
    margin-right: 0%;
  }
  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }
  .col-sm-offset-right-1 {
    margin-right: 8.3333333333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }
  .col-sm-offset-right-2 {
    margin-right: 16.6666666667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-right-3 {
    margin-right: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }
  .col-sm-offset-right-4 {
    margin-right: 33.3333333333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }
  .col-sm-offset-right-5 {
    margin-right: 41.6666666667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-right-6 {
    margin-right: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }
  .col-sm-offset-right-7 {
    margin-right: 58.3333333333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }
  .col-sm-offset-right-8 {
    margin-right: 66.6666666667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-right-9 {
    margin-right: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }
  .col-sm-offset-right-10 {
    margin-right: 83.3333333333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }
  .col-sm-offset-right-11 {
    margin-right: 91.6666666667%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-right-12 {
    margin-right: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1189px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-pull-1 {
    right: 8.3333333333%;
  }
  .col-md-pull-2 {
    right: 16.6666666667%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-4 {
    right: 33.3333333333%;
  }
  .col-md-pull-5 {
    right: 41.6666666667%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-7 {
    right: 58.3333333333%;
  }
  .col-md-pull-8 {
    right: 66.6666666667%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-10 {
    right: 83.3333333333%;
  }
  .col-md-pull-11 {
    right: 91.6666666667%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-push-1 {
    left: 8.3333333333%;
  }
  .col-md-push-2 {
    left: 16.6666666667%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-4 {
    left: 33.3333333333%;
  }
  .col-md-push-5 {
    left: 41.6666666667%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-7 {
    left: 58.3333333333%;
  }
  .col-md-push-8 {
    left: 66.6666666667%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-10 {
    left: 83.3333333333%;
  }
  .col-md-push-11 {
    left: 91.6666666667%;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
  .col-md-offset-right-0 {
    margin-right: 0%;
  }
  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }
  .col-md-offset-right-1 {
    margin-right: 8.3333333333%;
  }
  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }
  .col-md-offset-right-2 {
    margin-right: 16.6666666667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-right-3 {
    margin-right: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }
  .col-md-offset-right-4 {
    margin-right: 33.3333333333%;
  }
  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }
  .col-md-offset-right-5 {
    margin-right: 41.6666666667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-right-6 {
    margin-right: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }
  .col-md-offset-right-7 {
    margin-right: 58.3333333333%;
  }
  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }
  .col-md-offset-right-8 {
    margin-right: 66.6666666667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-right-9 {
    margin-right: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }
  .col-md-offset-right-10 {
    margin-right: 83.3333333333%;
  }
  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }
  .col-md-offset-right-11 {
    margin-right: 91.6666666667%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-right-12 {
    margin-right: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-pull-1 {
    right: 8.3333333333%;
  }
  .col-lg-pull-2 {
    right: 16.6666666667%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-4 {
    right: 33.3333333333%;
  }
  .col-lg-pull-5 {
    right: 41.6666666667%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-7 {
    right: 58.3333333333%;
  }
  .col-lg-pull-8 {
    right: 66.6666666667%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-10 {
    right: 83.3333333333%;
  }
  .col-lg-pull-11 {
    right: 91.6666666667%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-push-1 {
    left: 8.3333333333%;
  }
  .col-lg-push-2 {
    left: 16.6666666667%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-4 {
    left: 33.3333333333%;
  }
  .col-lg-push-5 {
    left: 41.6666666667%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-7 {
    left: 58.3333333333%;
  }
  .col-lg-push-8 {
    left: 66.6666666667%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-10 {
    left: 83.3333333333%;
  }
  .col-lg-push-11 {
    left: 91.6666666667%;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
  .col-lg-offset-right-0 {
    margin-right: 0%;
  }
  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }
  .col-lg-offset-right-1 {
    margin-right: 8.3333333333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }
  .col-lg-offset-right-2 {
    margin-right: 16.6666666667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-right-3 {
    margin-right: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }
  .col-lg-offset-right-4 {
    margin-right: 33.3333333333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }
  .col-lg-offset-right-5 {
    margin-right: 41.6666666667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-right-6 {
    margin-right: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }
  .col-lg-offset-right-7 {
    margin-right: 58.3333333333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }
  .col-lg-offset-right-8 {
    margin-right: 66.6666666667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-right-9 {
    margin-right: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }
  .col-lg-offset-right-10 {
    margin-right: 83.3333333333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }
  .col-lg-offset-right-11 {
    margin-right: 91.6666666667%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-right-12 {
    margin-right: 100%;
  }
}

.show-xs {
  display: none !important;
}

.show-sm {
  display: none !important;
}

.show-md {
  display: none !important;
}

.show-lg {
  display: none !important;
}

.show-xs-block,
.show-xs-inline,
.show-xs-inline-block,
.show-sm-block,
.show-sm-inline,
.show-sm-inline-block,
.show-md-block,
.show-md-inline,
.show-md-inline-block,
.show-lg-block,
.show-lg-inline,
.show-lg-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  .show-xs {
    display: block !important;
  }
  table.show-xs {
    display: table;
  }
  tr.show-xs {
    display: table-row !important;
  }
  th.show-xs,
  td.show-xs {
    display: table-cell !important;
  }
}

@media (max-width: 767px) {
  .show-xs-block {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .show-xs-inline {
    display: inline !important;
  }
}

@media (max-width: 767px) {
  .show-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .show-sm {
    display: block !important;
  }
  table.show-sm {
    display: table;
  }
  tr.show-sm {
    display: table-row !important;
  }
  th.show-sm,
  td.show-sm {
    display: table-cell !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .show-sm-block {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .show-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .show-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 992px) and (max-width: 1189px) {
  .show-md {
    display: block !important;
  }
  table.show-md {
    display: table;
  }
  tr.show-md {
    display: table-row !important;
  }
  th.show-md,
  td.show-md {
    display: table-cell !important;
  }
}

@media (min-width: 992px) and (max-width: 1189px) {
  .show-md-block {
    display: block !important;
  }
}

@media (min-width: 992px) and (max-width: 1189px) {
  .show-md-inline {
    display: inline !important;
  }
}

@media (min-width: 992px) and (max-width: 1189px) {
  .show-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1190px) {
  .show-lg {
    display: block !important;
  }
  table.show-lg {
    display: table;
  }
  tr.show-lg {
    display: table-row !important;
  }
  th.show-lg,
  td.show-lg {
    display: table-cell !important;
  }
}

@media (min-width: 1190px) {
  .show-lg-block {
    display: block !important;
  }
}

@media (min-width: 1190px) {
  .show-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 1190px) {
  .show-lg-inline-block {
    display: inline-block !important;
  }
}

@media (max-width: 767px) {
  .hide-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hide-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1189px) {
  .hide-md {
    display: none !important;
  }
}

@media (min-width: 1190px) {
  .hide-lg {
    display: none !important;
  }
}

.header {
  background: #FFF9EF;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

body.header-compact .header {
  background: rgba(255, 249, 239, 0.95);
}

.header > .container {
  height: 6.5625rem;
  line-height: 6.5625rem;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-property: all;
  transition-property: all;
}

body.header-compact .header > .container {
  height: 4.375rem;
  line-height: 4.375rem;
}

.column-logo {
  position: relative;
  width: 12.5rem;
  margin-right: -12.5rem;
}

.column-contacts {
  width: 12.5rem;
  margin-left: -12.5rem;
}

.column-nav {
  width: 100%;
  padding-left: 15.875rem;
  padding-right: 12.5rem;
}

@media (max-width: 767px) {
  .wrapper {
    margin-top: -6.5625rem;
  }
  .header {
    background: none;
    height: 0 !important;
    position: relative;
  }
  .header .logo {
    margin-top: -3.3rem !important;
  }
  .header .container {
    height: 0 !important;
  }
  body.header-compact .header .container {
    height: 0 !important;
    line-height: !important;
  }
  .column-nav {
    display: none;
  }
  .column-contacts {
    display: none;
  }
  .column-logo {
    width: 10rem;
  }
}

.footer {
  background: #fcaf17;
  margin-top: -6.25rem;
  height: 6.25rem;
  position: relative;
}

[data-template="mainpage"] .footer {
  display: none;
}

.content {
  padding-bottom: 6.25rem;
}

[data-template="mainpage"] .content {
  padding-bottom: 0;
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}

.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.embed-responsive-4by3 {
  padding-bottom: 75%;
}

.header .logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: -0.5rem;
  margin-top: -0.375rem;
}

.header .contacts {
  font-size: 1.5rem;
  line-height: 1.875rem;
  display: inline-block;
  vertical-align: middle;
}

.header .contacts ul {
  margin: 0;
}

.section-tabs-links {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 0 0 2.6875rem;
}

.section-tabs-links a {
  padding: 0.25rem 0.9375rem;
  border-radius: 0.1875rem;
  background: #F7C879;
  color: #111;
}

.section-tabs-links li {
  padding: 0 0.5rem;
}

.section-tabs-links li.active a {
  font-weight: 700;
  background: none;
}

.section--clinics .gallery {
  padding-top: 2.25rem;
  padding-right: 2.6875rem;
}

.gallery-viewport {
  overflow: hidden;
  border-radius: 0.1875rem;
  margin-bottom: 0.625rem;
}

.gallery-thumbs ul {
  margin: 0 -0.28125rem;
  font-size: 0;
}

.gallery-thumbs li {
  cursor: pointer;
  padding: 0 0.28125rem;
  margin: 0 0 0.5625rem;
  width: 25%;
  overflow: hidden;
  border-radius: 0.1875rem;
  vertical-align: top;
}

.gallery-thumbs li div {
  position: relative;
}

.gallery-thumbs li div::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(199, 212, 211, 0.66);
  opacity: 0;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
}

.gallery-thumbs li.active {
  cursor: default;
}

.gallery-thumbs li.active div::after {
  opacity: 1;
}

.section {
  position: relative;
  min-height: 6.25rem;
}

.section-body {
  position: relative;
  z-index: 2;
}

.section-cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.section--purple {
  background-color: #F0E7F1;
}

.section--yellow {
  background-color: #FFF9EF;
}

.section--promo .section-cover img {
  width: 100%;
  height: 100%;
}

.section--promo .section-body {
  min-height: calc(100vh - 6.5625rem);
}

.section--promo .section-title {
  margin-bottom: 2.4375rem;
}

.section--promo .section-in {
  position: absolute;
  left: 50%;
  width: 100%;
  bottom: 35%;
  -webkit-transform: translateY(50%) translateX(-50%);
          transform: translateY(50%) translateX(-50%);
}

@media (max-width: 767px) {
  body {
    min-width: 20rem !important;
  }
  .section--promo .section-in {
    bottom: 25% !important;
  }
  .section--promo .section-cover {
    background-image: url(../samples/pic-promo-mobile-01.png);
  }
  .section--promo .section-title {
    margin-left: 0.625rem;
  }
  .section--promo .section-title h1.title-1 {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
  .section--promo .section-title h3.title-3 {
    font-size: 1.3rem;
    line-height: 1.4rem;
  }
  .section--promo .btn-more {
    font-size: 1.2rem !important;
    line-height: 1.2rem !important;
    padding: 0.625rem 1.25rem !important;
    margin-left: 0.625rem;
  }
}

.section--about .section-body {
  padding-top: 9.6875rem;
  padding-bottom: 6.25rem;
}

.section--about blockquote {
  margin-bottom: 4.6875rem;
}

.section--about .section-img {
  position: absolute;
  bottom: 0;
  right: 4.625rem;
  width: 26.5rem;
  height: 43.5rem;
}

@media (max-width: 767px) {
  .section--about {
    display: none;
  }
  .section--profile h2.title-2 {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  .section--profile .preoriti-item {
    width: 100%;
  }
  .section--how .why-korean-map {
    display: none;
  }
  .section--reviews .section-body {
    padding-top: 1rem !important;
    padding-bottom: 1.5rem !important;
  }
  .section--reviews .section-title h2.title-2 {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  .section--reviews .review-item {
    padding: 0 !important;
  }
  .section--reviews .review-item-media {
    left: 50% !important;
    margin-left: -4.375rem;
    position: relative;
  }
  .section--benefits .section-body {
    padding-top: 2rem !important;
    padding-bottom: 1rem !important;
  }
  .section--benefits .section-title {
    margin-bottom: 2rem !important;
  }
  .section--benefits h2.title-2 {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  .section--benefits .benefit-item-in {
    padding: 0 !important;
  }
  .section-why-korean {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .section-why-korean h2.title-2 {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  .section-why-korean .why-korean-title {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  .section-why-korean .why-korean-text li {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .section--how .section-body {
    padding-top: 1rem !important;
    padding-bottom: 1.5rem !important;
  }
  .section--how h2.title-2 {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  .section--how .how-item {
    width: 100%;
    text-align: center;
    margin-bottom: 0 !important;
    overflow: hidden;
  }
  .section--how .how-item-in {
    padding: 0 0.9375rem !important;
  }
  .section--how .how-item-img {
    left: 50% !important;
    margin-left: -6.875rem !important;
    margin-bottom: 0 !important;
  }
  .section--clinics .section-body {
    padding-top: 1rem !important;
    padding-bottom: 1.5rem !important;
  }
  .section--clinics h2.title-2 {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  .section--clinics .section-tabs .section-tabs-links {
    font-size: 1rem;
    line-height: 1.2rem;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1rem;
    text-align: left;
  }
  .section--clinics .section-tabs .section-tabs-links li {
    padding: 0;
  }
  .section--clinics h4 {
    font-size: 1.2rem !important;
    line-height: 1.4rem !important;
    margin-bottom: 1rem !important;
  }
  .section--clinics p {
    font-size: 1rem;
    margin-right: 0.9375rem;
  }
  .section--clinics .btn-more {
    font-size: 1.2rem !important;
    line-height: 1.2rem !important;
    padding: 0.625rem 1.25rem !important;
    margin-left: 0rem;
    margin-top: 0rem;
  }
  .section--clinics .gallery {
    padding-left: 0 !important;
    padding-right: 1.25rem !important;
  }
  .section--clinics .gallery-thumbs {
    display: none;
  }
  .form-send-message {
    padding: 0 !important;
  }
  .form-send-message .form-group {
    margin-bottom: 0.625rem;
  }
  .section-send-message {
    overflow: hidden;
  }
  .section--contacts .section-body {
    padding-top: 1rem !important;
    padding-bottom: 1.5rem !important;
  }
  .section--contacts h2.title-2 {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-bottom: 1rem !important;
  }
  .section--contacts .section-title {
    margin-bottom: 0 !important;
  }
  .form-contacts {
    margin-bottom: 1.5rem !important;
  }
  .map-wrapper {
    margin-top: 0.125rem !important;
  }
}

.section--profile {
  padding-top: 2.8125rem;
  padding-bottom: 4.6875rem;
}

.preoriti-item-list {
  width: 100%;
  text-align: left;
}

.preoriti-item {
  display: inline-block;
  width: 19%;
  margin: 0.25rem;
  vertical-align: top;
}

.preoriti-item-img {
  margin-bottom: 2.1875rem;
}

.preoriti-item-img img {
  -webkit-transition: opacity 0.525s, -webkit-transform 1.5s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.525s, -webkit-transform 1.5s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 1.5s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.525s;
  transition: transform 1.5s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.525s, -webkit-transform 1.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.preoriti-item-img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform: scale3d(1.1, 1.1, 1);
          transform: scale3d(1.1, 1.1, 1);
  -webkit-transform: scale(1.1) translate3d(0, 0, 0);
          transform: scale(1.1) translate3d(0, 0, 0);
  opacity: .8;
}

.preoriti-item-title {
  margin-bottom: 1.375rem;
}

.preoriti-item-title .title-4 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #000;
}

.preoriti-item-info ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.preoriti-item-info li {
  font-size: 1.125rem;
  color: #000;
  margin-bottom: 0.625rem;
}

.preoriti-item-info li:before {
  content: '';
  display: inline-block;
  background: #000;
  width: 0.9375rem;
  height: 0.125rem;
  margin-bottom: 0.3125rem;
  margin-right: 0.3125rem;
}

@media (max-width: 767px) {
  .preoriti-item-list .preoriti-item {
    text-align: center !important;
  }
}

.section--benefits .section-body {
  padding-top: 3.9375rem;
  padding-bottom: 2.8125rem;
}

.section--benefits .section-title {
  margin-bottom: 4.6875rem;
}

.benefit-item {
  position: relative;
  padding: 0 6.25rem 0 8.875rem;
  margin-bottom: 2.625rem;
  min-height: 7.5rem;
}

.benefit-item-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 7.5rem;
}

.benefit-item-img img {
  position: relative;
  z-index: 2;
}

.benefit-item-img::before {
  content: '';
  position: absolute;
  z-index: 1;
  background: #FFF3E0;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  left: 50%;
  top: 50%;
  margin-top: -3.5rem;
  margin-left: -3.5rem;
}

.benefit-item-in {
  padding-top: 1.5625rem;
}

.section--clinics {
  border-bottom: 1px solid #EEE4EF;
}

.section--clinics .section-body {
  padding-top: 2.6875rem;
  padding-bottom: 3.5625rem;
}

.section--clinics h4 {
  font-size: 1.75rem;
  line-height: 1.875rem;
  margin-bottom: 2.125rem;
  font-weight: 700;
}

.section--clinics .title-2 {
  margin-bottom: 1.6875rem;
}

.section--how .section-body {
  padding-top: 5.3125rem;
  padding-bottom: 3.8125rem;
}

.section--how .section-title {
  margin-bottom: 2.75rem;
}

.how-item {
  margin-bottom: 2.5rem;
  display: inline-block;
  vertical-align: top;
  width: 19.7%;
}

.how-item-img {
  position: relative;
  left: -1.3125rem;
  margin-bottom: 0.8125rem;
}

.how-item-img img {
  -webkit-transition: opacity 0.525s, -webkit-transform 1.5s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.525s, -webkit-transform 1.5s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 1.5s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.525s;
  transition: transform 1.5s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.525s, -webkit-transform 1.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.how-item-img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform: scale3d(1.1, 1.1, 1);
          transform: scale3d(1.1, 1.1, 1);
  -webkit-transform: scale(1.1) translate3d(0, 0, 0);
          transform: scale(1.1) translate3d(0, 0, 0);
  opacity: .8;
}

.section--reviews {
  border-style: solid;
  border-color: #EADDEA;
  border-width: 1px 0;
}

.section--reviews .section-body {
  padding-top: 3.3125rem;
  padding-bottom: 1.6875rem;
}

.section--reviews .section-title {
  margin-bottom: 3.125rem;
}

.review-item {
  position: relative;
  padding-left: 8.875rem;
  padding-right: 1.25rem;
  margin-bottom: 1.625rem;
  min-height: 11.25rem;
}

.review-item-media {
  position: absolute;
  left: 0;
  top: -1.0625rem;
  width: 7rem;
}

.review-item-img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.125rem;
}

.review-item-meta {
  line-height: 1.0625rem;
}

.review-item-meta i {
  font-size: 0.875rem;
}

.toggle-item {
  margin-top: -1rem;
}

.toggle-item .link-toggle {
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 1.125rem;
  color: #fcaf17;
}

.toggle-item .toggle-item-title {
  margin-bottom: 0.375rem;
}

.toggle-item .toggle-item-title .text-toggle {
  display: block;
}

.toggle-item .toggle-item-title .text-toggled {
  display: none;
}

.toggled .toggle-item-title .text-toggle {
  display: none !important;
}

.toggled .toggle-item-title .text-toggled {
  display: block !important;
}

.section--contacts .section-body {
  padding-top: 4.875rem;
  padding-bottom: 3.75rem;
}

.section--contacts .section-title {
  margin-bottom: 4.0625rem;
}

.map-wrapper {
  position: relative;
  padding-bottom: 61.5942028986%;
  background: black;
  border-radius: 0.1875rem;
  overflow: hidden;
  margin-top: -3.75rem;
}

.map {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.why-korean-title {
  margin-bottom: 1.875rem;
  font-size: 1.375rem;
  color: #000;
  font-style: italic;
}

.why-korean-text ul {
  padding: 0;
  margin: 0;
  font-size: 0;
}

.why-korean-text li {
  margin-bottom: 1.875rem;
  font-size: 1.125rem;
  font-style: normal;
  color: #000;
}

.why-korean-text li:before {
  content: '';
  display: inline-block;
  background: #000;
  width: 0.9375rem;
  height: 0.0625rem;
  margin-bottom: 0.3125rem;
  margin-right: 0.3125rem;
}

.section-why-korean figcaption {
  margin-bottom: 1rem !important;
}

.why-korean-map {
  position: absolute;
  top: -6.25rem;
  right: -4.375rem;
}

.section-send-message {
  background: #fff3e0;
  padding-top: 2.8125rem;
  padding-bottom: 2.5rem;
}

/*# sourceMappingURL=style.css.map */
