$btn-default-color: #333 !default;
$btn-default-bg: $white !default;
$btn-default-border: #ccc !default;
// *************************************************************************

.btn-default { // обычная кнопка
	background-color: $btn-default-bg;
	color: $btn-default-color;
	border-color: $btn-default-border;
}

.btn-orange {
	background-color: $orange;
	color: $text-color !important;
	&:hover,
	&.active,
	&:active {
		background-color: darken($orange,5%);
	}
}

.btn-more {
	@extend .btn-orange;
	font-size: 24px;
	line-height: 24px;
	font-weight: 700;
	padding: 14px 28px 17px;
	margin-left: -30px;
	.section--promo & {
		margin-left: 0;
	}
}
p + .btn-more {
	margin-top: 31px;
}