@function parseInt($n) { /* 2 */
	@return $n / ($n * 0 + 1);
}

@function ratio($width, $max-value:$max){
	@return (parseInt($width)*100%/parseInt($max-value));
}

@mixin respond-to($media){
	@media #{$media} {
		@content;
	}
}

@mixin stretch($top: 0, $right: 0, $bottom: 0, $left: 0) {
	position: absolute;
	left: $left;
	right: $right;
	top: $top;
	bottom: $bottom;
}

@mixin stretch-x($left: 0, $right: 0) {
	position: absolute;
	left: $left;
	right: $right;
}

@mixin stretch-y($top: 0, $bottom: 0) {
	position: absolute;
	top: $top;
	bottom: $bottom;
}
