<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}</title>

  <!-- build:css css/style.css -->
  <link rel="stylesheet" href="/bower_components/owl.carousel/dist/assets/owl.carousel.css">
  <link rel="stylesheet" href="css/style.css">
  <!-- endbuild -->
</head>

<body data-template="{{dataTemplate}}">

  <!-- .wrapper -->
  <div class="wrapper">

    {{> _header }}

    <!-- .content -->
    <main class="content">
        {% body %}
    </main><!-- end .content -->

  </div><!-- end .wrapper -->

  {{> _footer }}

  <!-- build:js js/interface.js -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/owl.carousel/dist/owl.carousel.js"></script>
  <script src="/bower_components/bootstrap/js/tab.js"></script>
  <script src="/bower_components/bootstrap/js/collapse.js"></script>
  <script src="/bower_components/waypoints/lib/jquery.waypoints.js"></script>
  <script src="/bower_components/waypoints/lib/shortcuts/inview.js"></script>
  <script src="js/interface.js"></script>
  <!-- endbuild -->
  <script async src="https://maps.googleapis.com/maps/api/js?v=3.exp&callback=initialize"></script>

</body>
</html>
